.section_A {
  background: white;
  padding-bottom: 30px;
}

.section_A .container__in {
  align-items: start;
}

.section_A .section__part1 {
  max-width: 550px;
}

.section_A .section__part1 h3,
.section_A .section__part2 h3 {
  padding: 20px 0;
  font-size: 24px;

}

.section__part2 h3 {}

.section_A .section__part1 p {
  margin: 20px 0;
}

.section_A .section__part1 p:nth-child(3),
.section_A .section__part2 {
  background: var(--nav-bg-color);
  padding: 20px 15px;
  color: white;
}


.section_A .section__part2 {
  margin-top: 50px;
  max-width: 350px;
}