/* ?? HEADER */
header {
  color: white;
  height: 400px;
  background: url('../images/coding-man.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

header .container__in {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header h1 {
  font-size: 50px;
}

/* ?? section 1 */

section {
  background: white;
  padding: 20px 0;
}

section .section__article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section article {
  max-width: 280px;
}

section img {
  width: 130px;
}